.biometric-body {
  background: black;
  color: white;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}
.bio-img{
  width: 100%;
  height: 400px;
}
.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.section-title {
    font-size: 1.5rem;
    text-align: center;
  }
section{
    padding-block: 5rem;
}

.diagonal {
  --skew-angle: -5deg;
  --background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  position: relative;
  isolation: isolate;
}
.diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    padding: auto;
  }

  .cursor {
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }